@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.top {
    margin-top: 25px;
    text-align: center;
    color: #3498db;
}

.light-mode {
    background-color: #000000;
    color: #ffffff;
}

.content {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #b4b4b4;
    color: #333;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.send-button {
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.send-button:hover {
    background-color: #5ab9ea;
}

.request-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d2b2b;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.request-title {
    font-size: 28px;
    color: #3498db;
}

.website-link {
    display: inline;
    margin-top: 10px;
    font-size: larger;
}

.website-link a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

@media (max-width: 768px) {
    body{
        padding: 55px;
        text-align: center;
    }
    .request-box {
        width: 90%;
    }
    .request-title {
        font-size: 22px;
    }
    .website-link {
        font-size: 15px;
    }
    .user-info{
        font-size: 15px;
    }
    
}

@media (max-width: 460px) {
    body{
        padding: 60px;
    }
    .request-box {
        width: 80%;
    }
    .request-title {
        font-size: 20px;
        text-align: center;
    }
    .username-input,
    .send-button {
        font-size: 12px;
    }
    .website-link {
        font-size: 15px;
        text-align: center;
    }
    .user-info{
        font-size: 15px;
    }
    
}


@media (max-width: 300px) {
    body{
        padding: 55px;
    }
    .request-box {
        padding: 15px;
    }
    .request-title {
        text-align: center;
        font-size: 20px;
    }
    .username-input,
    .send-button {
        font-size: 8px;
    }
    .website-link {
        font-size: 15px;
    }
    .user-info{
        font-size: 15px;
    }
}
